body{
    background-color: rgb(45, 45, 45);
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-section{
    margin: auto;
    display: block;
    background-color: darkgreen;
    height:200px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    border-bottom: 15px solid #fff;
}

h3{
    width: 20%;
    margin: 10px 10px;
    display: block;
    background-color: darkgreen;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#colors{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    width:50%;
}

.colorBox{
    width:250px;
    height:250px;
    background-color: #fff;
    margin:20px 20px;
    border-radius:10px;
    display: none;
}